.testimonials {
  margin: 5rem auto;
  padding: 0 5rem;
  position: relative;
}

.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 1rem;
  width: 3.125rem;
  border-radius: 50%;
  cursor: pointer;
  background: rgb(14, 152, 156);
  transition: all 0.3s ease;
}

.next-btn:hover,
.back-btn:hover {
  background: rgb(10, 130, 134);
  transform: translateY(-50%) scale(1.1);
}

.back-btn {
  right: auto;
  left: 0;
}

.slider {
  overflow: hidden;
}

.slider ul {
  display: flex;
  width: 400%;
  overflow-x: hidden;
  transition: transform 0.5s ease;
}

.slider ul li {
  list-style: none;
  width: 25%;
  padding: 1.25rem;
}

.slide {
  box-shadow: 0 0 1.25rem rgb(14, 152, 156);
  padding: 2.5rem;
  border-radius: 0.625rem;
  color: rgb(2, 2, 2);
  line-height: 1.4;
  height: 100%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.slide:hover {
  box-shadow: 0 0 1.875rem rgb(10, 130, 134);
  transform: translateY(-0.3125rem);
}

.slide img {
  width: 4.0625rem;
  border-radius: 50%;
  margin-right: 0.625rem;
  border: 0.25rem solid blue;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  font-size: 0.9375rem;
}

.user-info h3 {
  color: blue;
  transition: color 0.3s ease;
}

.user-info h3:hover {
  color: darkblue;
}

/* media query */
@media (max-width: 50rem) {
  .testimonials {
    padding: 0 2.5rem;
  }

  .next-btn,
  .back-btn {
    padding: 0.625rem;
    width: 2.1875rem;
  }

  .slider ul li {
    padding: 0.625rem;
  }

  .slide {
    padding: 0.625rem;
  }

  .slide img {
    width: 3.125rem;
    border: 0.1875rem;
  }
}

@media (max-width: 37.5rem) {
  .user-info {
    display: block;
    margin-bottom: 0.625rem;
    font-size: 0.75rem;
  }

  .user-info h3 {
    font-size: 1rem;
  }

  .slider p {
    font-size: 0.75rem;
  }
}
